.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.about-text p {
  font-family: "DigitalDisco";
}

@media only screen and (max-width: 840px) {
  .about-wrapper {
    height: 100vh;
  }
}
