@import "./global/variable";
@import "./components/App";
@import "./components/Home";
@import "./components/About";
@import "./components/Faq";
@import "./global/sitelayout";
@import "./global/Nav";
@import "./global/Footer";

@font-face {
  font-family: "DigitalDisco";
  src: local("DigitalDisco"), url(../fonts/DigitalDisco.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fffcfc !important;
  margin: 0 10px;
  font-size: 20px;
  font-family: "DigitalDisco";
}
