@import "./global/variable";
@import "./components/App";
@import "./components/Home";
@import "./components/About";
@import "./components/Faq";
@import "./components/PlantModal";
@import "./global/sitelayout";
@import "./global/Nav";
@import "./global/Footer";

@font-face {
  font-family: "DigitalDisco";
  src: local("DigitalDisco"), url(../fonts/DigitalDisco.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $fontColor !important;
  margin: 0 10px;
  font-size: 2.5em;
  font-family: $mainFont;

  @media only screen and (max-width: 840px) {
    font-size: 15px;
  }
}

.button {
  font-family: $mainFont !important;
}

h1 {
  color: $fontColor !important;
}
