footer {
  padding: 20px;
  border: 1px solid crimson;
  background-color: black;
}

Footer a {
  text-decoration: none;
  color: #FFFCFC;
  margin: 0 10px;
  font-size: 20px;
  font-family: "DigitalDisco";
}
